<div class="mb-3">
  <label for="filterText" class="form-label">Search Product</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
  placeholder="Write...">
</div>

<div *ngIf="filterText.length>2" class="alert alert-success">
   Looking for {{filterText}}...
</div>


<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Price with KDV </th>
      <th>UnitsInStock</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
      <td>{{ product.productId }}</td>
      <td>{{ product.productName | uppercase}}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.unitPrice | currency}}</td>
      <td>{{ product.unitPrice | vatAdded:18 | currency}}</td>
      <td>{{ product.unitsInStock }}</td>
      <td><button (click)="addToCart(product)" 
        type="button" class="btn btn-success">Add to cart</button></td>
    </tr>
  </tbody>

</table>
